header {
  width: 800px;
  height: 60px;
  padding: 20px 0;
  background: #6b35b3;
}

h1,
p {
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

footer {
  width: 800px;
  height: 60px;
  padding: 20px 0;
  background: #ff3333;
}

article {
  width: 580px;
  height: 300px;
  background: #222;
  float: left;
}

aside {
  width: 200px;
  height: 300px;
  background: #ccc;
  float: left;
}
