body {
  background-image: url('./esporte-1.jpg');
  background-repeat: no-repeat;
  background-color: #333;
  height: 3000px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* background-size: 200px 200px; */
}

div {
  width: 200px;
  height: 400px;
  margin: 0 auto;
  background: url('./esporte-4.jpeg') no-repeat center;
  background-size: cover;
  box-shadow: inset 10px 10px 10px;
}

div {
  visibility: hidden;
  display: none;
}
